**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.env
.cargo-ok
.github
npm/
build/
.yarn/
yarn.lock
node_modules
.pnp.*
bindings/book-node/book-node.linux-x64-gnu.node
bindings/book-node/index.js
bindings/book-node/index.d.ts
bindings/book-node/target/
bindings/book/target/
bindings/bookjs/target/
bindings/pybook/target/
book/target/
